requests
pandas==2.0.3
azure-core==1.28.0
azure-identity==1.13.0
azure-storage-blob==12.17.0
msgraph-core==1.0.0a4
msgraph-sdk==1.0.0a14
dropbox==11.36.2
crayons==0.4.0
openpyxl==3.1.2
psutil==5.9.5
SQLAlchemy==1.4.20
Pillow==9.5.0
beautifulsoup4==4.12.2
bs4==0.0.1
mysql-connector-python==8.0.15
google-api-core==1.31.0
google-api-python-client==2.12.0
google-auth==1.32.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
PyDocParser